*.log
*.pot
*.pyc
local_settings.py
prod_settings.py

run.sh

passenger_wsgi.py

tmp

.pydevproject
.project

var/cache/data/
var/cache/photo/
var/cache/album/
var/fotos-sample/cache/**/*.JPG


db.sqlite3
