*.log
*.pot
*.pyc
local_settings.py
prod_settings.py
gdrive_settings.py

run.sh

passenger_wsgi.py

tmp

.pydevproject
.project

var/cache/data/
var/cache/photo/
var/cache/album/
var/fotos-sample/cache/**/*.JPG

private/*

db.sqlite3

### Bower ###
bower_components

### Node ###
node_modules
venv
