{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Album Admin</title>
<link rel="stylesheet" href="{% static 'css/album.css' %}">
<link rel="stylesheet" href="{% static 'css/admin.css' %}">

<script type="text/javascript" src="{% static 'js/lib/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highlight.js' %}"></script>
<script type="text/javascript" src="{% static 'js/album.js' %}"></script>
<script type="text/javascript" src="{% static 'js/admin.album.js' %}"></script>
<script type="text/javascript" src="{% static 'js/resize.js' %}"></script>
<script type="text/javascript">

    $(function(){
        var highlight = new Highlight($("#highlight"))
        var albumAdminController = new AlbumAdminController("/admin/album", "/admin/album/api")
        var album = new AlbumAdminView(albumAdminController, highlight, $("#album-name"), $("#albuns"), $("#photos"), $("#loading"));
    })

</script>
<style type="text/css">

</style>
</head>
<body>
<section id="album-name">
    <a class="star star-off" href="#"><span>Star</span></a>
    <span class="input" contenteditable="false"></span>
</section>
<div id="contet">
    <div id="loading"><img src="{% static 'media/spinner.gif' %}" width="80" height="79"/></div>
    <section id="albuns"></section>
    <section id="photos"></section>
</div>

<div id="highlight">
    <img class="blur" />
    <img class="large-photo low-res" />
    <img class="large-photo high-res" />
</div>
</body>
</html>