.star{
    margin:5px;
    width: 2.4em; height: 2.4em;
    background-size: 100% 100%;
    background-position: center;
}

.photo-container .star{
    position:absolute;
    left: 0px;
}

.star span{
    visibility: hidden;
}

.star-off{
    background-image: url(/static/media/star_off.svg);
}

/* .star-off:hover{
    background-image: url(/static/media/star_on.svg);
} */

.star-on{
    background-image: url(/static/media/star_on.svg);
}

/* .star-on:hover{
    background-image: url(/static/media/star_off.svg);
} */

#album-name{
    border: 1px solid #333; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
    background-color: #fff;
    /* display: inline-block; */
    padding: 4px;
}

#album-name .input{
    font-size: 1.3em;
    border: none;
    float: left;
    margin:0px 5px;
    min-width: 100px;
}

#album-name .star{
    float: left;
    margin:0px; 
    width: 1.6em;
    height: 1.6em;
    margin-right: 5px;
}

#album-name:after{
    clear: both;
    content:'';
    display:block;
}

#loading{
    top:2.5em;
}

#slider{
    width: 300px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

#photos .photo-container, #photos .photo{
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}