#photos {
    margin-top: 35px;
}

.menu-container button.publish{
    background: url("/static/media/star.svg") no-repeat center;
    background-size: 25px 25px;
}

.menu-container button.publish{
    background: url("/static/media/star.svg") no-repeat center;
    background-size: 25px 25px;
}

.menu-container button.publish.selected{
    background: url("/static/media/star_on.svg") no-repeat center;
    background-size: 25px 25px;
}