html{
    overflow-y: scroll;
    height: 100%;
}

body{
    padding:0px;
    margin:0px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
    color:#fff;
    min-height: 100%;
    height:100%;
}

#content{
    margin-left: 0px;
    /* margin-top:35px; */
}

/* Breadcrumb */

#breadcrumb{
    background: #000;
    font-size: 1.3em;
    color:#fff;
    padding: 5px;
    position: fixed;
    width:100%;
    height:35px;
}
#breadcrumb a{
    color:#fff;
    text-decoration: underline;
}

#breadcrumb a:hover{
    text-decoration: underline;
}

#breadcrumb span:after{
    content:" › ";
}

#breadcrumb span:last-child:after{
    content:"";
}

#breadcrumb img{
    vertical-align: text-bottom;
}

#loading{
    background: url("/static/media/loading.gif") no-repeat center;
    position: absolute;
    z-index: 2;
}

/* Albuns */
#albuns{
    background: #4169E1;
    height: 100%;
    width: 30%;
    text-align: right;
    padding-right: 15px;
    float:left;
    overflow: visible;
    margin-top: 45px;
}

#albuns h2{
    padding:0px;
    margin: 0px;
    font-size: 3em;
    line-height: 2em;
}

#albuns ul{
    margin: 0px;
    paddin: 0px;
}
#albuns li{
    list-style: none;
    margin:0px;
    padding: 0px;
    font-size: 1.2em;
    line-height: 2em;
}

#albuns li a{
    color: #fff;
    text-decoration: none;
}
#albuns li a:hover{
    text-decoration: underline;
}

/* Photos */

#photos{
    float:left;
    margin-top:45px;
}

#photos .photo-container{
    float:left;
    position: relative;
    background-color: #fff;
    margin: 2px;
}

#photos .photo{
    background-position: center;
    background-size: 100% 100%;
    display:none;
}

#highlight{
    width: 100%;
    height:100%;
    pointer-events: visible;
    background:#000;
    overflow: hidden;
    left: 0px;
    position:fixed;
}


#highlight .large-photo{
    display: block;
    margin: 0 auto;
    position:absolute;
}

#highlight .low-res, #highlight .high-res {
    position: absolute;
    left: 0px;
    top: 0px;
    widht: 100%;
    height: 100%;
    overflow: hidden;
}

#highlight .low-res{
    z-index: 2;
    box-shadow: 1px 0 0 0 rgba(255,255,255,0.1) inset,0 0 1px rgba(0,0,0,0.5),0 0 20px rgba(0,0,0,0.5);
}

#highlight .high-res{
    z-index: 3;
}

.blur{
    width:100%;
    height:100%;
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
    filter: blur(100px);

    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -o-transition: all 2s linear;
    transition: all 2s linear;

    visibility: hidden;
    opacity: 0;
    z-index: 1;
}
.blur.visible{
    visibility: visible;
    opacity: 0.8;
}

.box-blur{
    width:100%;
    height:100%;
}

.photo-frame{
    position:absolute;;
    width: 100%;
    height: 100%;
}

.photo-details{
    z-index: 10;
    position: fixed;
    top: 1em;
    left: 1em;
    padding: 0;
    margin: 0;
    opacity: 0.3;

    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.photo-details:hover{
    opacity: 1;
}

.photo-details .item-detail{
    text-align: left;
    list-style: none;
    margin-bottom: 0.4em;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
}

.photo-details .album{
    font-size: 14px;
    font-style: italic;
}
.photo-details .date{
    font-size: 14px;
    font-style: italic;
}