{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Fotos</title>
<link rel="stylesheet" href="{% static 'css/album.css' %}">

<script type="text/javascript" src="{% static 'js/lib/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/watch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/fast-blur.js' %}"></script>

<script type="text/javascript" src="{% static 'js/highlight.js' %}"></script>
<script type="text/javascript" src="{% static 'js/album.js' %}"></script>
<script type="text/javascript" src="{% static 'js/resize.js' %}"></script>
<script type="text/javascript">

    $(function(){
        var albumModel = new AlbumPresentationModel();
        albumModel.URL_PREFIX = "/album"
        albumModel.URL_DATA_PREFIX = "/album/api"

        Loading.setView(albumModel, $("#loading"))

        var highlight = new Highlight(albumModel, $("#highlight"))
        var albumController = new AlbumController(albumModel)
        var album = new AlbumView(
                albumModel, 
                albumController,
                highlight,
                $("#albuns"),
                $("#photos") 
        ); 
    })

</script>
</head>
<body>
    <div id="content">
        <div id="loading"><img src="{% static 'media/spinner.gif' %}" width="80" height="79"/></div>
        <section id="albuns"></section>
        <section id="photos"></section>
        <div id="highlight"></div>
    </div>
</body>
</html>