{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Fotos</title>
<link rel="stylesheet" href="{% static 'css/album.css' %}">

<script type="text/javascript" src="{% static 'js/lib/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highlight.js' %}"></script>
<script type="text/javascript" src="{% static 'js/album.js' %}"></script>
<script type="text/javascript" src="{% static 'js/resize.js' %}"></script>
<script type="text/javascript">

    $(function(){
        var highlight = new Highlight($("#highlight"))
        var albumController = new AlbumController("/album", "/album/api")
        var album = new AlbumView(albumController, highlight, $("#albuns"), $("#photos"), $("#loading"));
    })

</script>
</head>
<body>
<div id="loading"><img src="{% static 'media/spinner.gif' %}" width="80" height="79"/></div>

<section id="albuns"></section>
<section id="photos"></section>

<div id="highlight">
    <ul id="photo-details" class="photo-details">
        <li class="item-detail name"></li>
        <li class="item-detail album">Viagem</li>
        <li class="item-detail date"></li>
    </ul>
    <img class="blur" />
    <img class="large-photo low-res" />
    <img class="large-photo high-res" />
</div>
</body>
</html>