{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/album.js' %}"></script>
<script type="text/javascript" src="{% static 'js/resize.js' %}"></script>
<script type="text/javascript">

    $(function(){
        var album = new AlbumPage()
    })

</script>
<style type="text/css">
    #result{
        padding:10px;
        border:1px solid #cccccc;
    }
</style>
</head>
<body>
<section id="albuns"></section>
<section id="photos"></section>
</body>
</html>