html, body, .viewport {
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
}

body{
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
    color:#fff;
    height:100%;
    overflow-y: scroll;
}

#content, #main-content{
    margin-left: 0px;
    height: 100%;
}

/* Breadcrumb */

#top-menu{
    background: #000;
    font-size: 1.3em;
    color:#fff;
    z-index: 20;
    width:100%;
    height:45px;
    position: fixed;
    top: 0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow:         0px 2px 5px 0px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#top-menu{
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

#top-menu.headroom--top {
    transition: transform 200ms linear;

}

#top-menu.headroom--pinned {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

#top-menu.headroom--unpinned {
    -webkit-transform: translateY(-110%);
    -ms-transform: translateY(-110%);
    transform: translateY(-110%);
}

#top-menu .menu-container{
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-items: center;
}

#breadcrumb{
    margin-left: 10px;
}

#breadcrumb a{
    color:#fff;
    text-decoration: underline;
}

#breadcrumb a:hover{
    text-decoration: underline;
}

#breadcrumb span:after{
    content:" › ";
}

#breadcrumb span:last-child:after{
    content:"";
}

#breadcrumb img{
    vertical-align: text-bottom;
}


.menu-container a{

}

.menu-container a:hover{
    opacity: 1;
}

.menu-container button{
    width: 25px;
    height: 25px;
    border: none;
    margin: 0 0 0 20px;
    padding: 0;

    opacity: 0.6;
    cursor: pointer;
}

.menu-container button:hover{
    opacity: 1;
}

.menu-container button span{
    display: none;
}

.menu-container button:focus{
    border: none;
    outline: none;
}

.menu-container button.details{
    background: url("/static/media/details.svg") no-repeat center;
    background-size: 25px 25px;
}

.menu-container button.details.selected{
    background: url("/static/media/right.svg") no-repeat center;
    background-size: 25px 25px;
}

.menu-container button.fullscreen {
    background: url("/static/media/fullscreen.svg") no-repeat center;
    background-size: 20px 20px;
}

.menu-container button.fullscreen.selected {
    background: url("/static/media/fullscreen_close.svg") no-repeat center center;
    background-size: 28px 28px;
}

.menu-container button.download {
    background: url("/static/media/download.svg") no-repeat center center;
    background-size: 28px 28px;
}

.menu-container button.admin {
    background: url("/static/media/admin.svg") no-repeat center;
    background-size: 25px 25px;
}

/* Loading */

#loading{
    background: url("/static/media/loading.gif") no-repeat center;
    position: absolute;
    z-index: 30;
    top:2px;
    left:2px
}


/* Albuns */

#albuns{
    background: #4169E1;
    padding: 0 30px 30px 30px;
    display:none;
    
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

#albuns.visible {
    display: block; 
}

@media (min-width: 700px) {
    #main-content{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    #albuns{
        width:35%;
        min-height: 100%;
        padding-right: 15px;
        text-align: right;
    }

    #albuns ul{
        margin-left: 0px;
    }
    
}

#albuns h2{
    padding:0px;
    margin: 0px;
    margin-top: 40px;

    font-size: 3em;
    line-height: 2em;
}

#albuns ul{
    margin: 0px 10px 10px 30px;
    padding: 0px;
}
#albuns li{
    list-style: none;
    margin:0px;
    padding: 0px;
    font-size: 1.2em;
    line-height: 2em;
}

#albuns li a{
    color: #fff;
    text-decoration: none;
}
#albuns li a:hover{
    text-decoration: underline;
}


/* Photos */

#photos{
    width: 100%;
    margin-top: 10px;
    background: #eee;
}

#photos .photo-container{
    float:left;
    position: relative;
    background-color: #fff;
    margin: 1px;
    position: relative;
    overflow: hidden;
}

#photos .photo{
    background-position: center;
    background-size: 100% 100%;
    display:none;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

#photos .photo-static{
    display:inline;
    position: static;
}

/* Highlight */


#highlight{
    width: 100%;
    height:100%;
    pointer-events: visible;
    background:#000;
    overflow: hidden;
    left: 0px;
    position:fixed;
    display:none;
    z-index:10;
}


#highlight .large-photo{
    display: block;
    margin: 0 auto;
    position:absolute;
}

#highlight .large-photo:before{
    content: '';
    z-index: 13;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0.9);
    transition: all .5s ease-out;
}

#highlight .large-photo.visible:before{
    background: none;
}


#highlight .low-res, #highlight .high-res {
    position: absolute;
    left: 0px;
    top: 0px;
    widht: 100%;
    height: 100%;
    overflow: hidden;
}

#highlight .low-res{
    z-index: 11;
    box-shadow: 1px 0 0 0 rgba(255,255,255,0.1) inset,0 0 1px rgba(0,0,0,0.5),0 0 10px rgba(0,0,0,0.5);
}

#highlight .high-res{
    z-index: 12;
}

.blur-container{
    position: relative;
    width:100%;
    height:100%;
}

.blur{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: none;
}

.photo-frame{
    position:absolute;;
    width: 100%;
    height: 100%;
}

.photo-details{
    z-index: 10;
    position: fixed;
    top: 1em;
    left: 1em;
    padding: 0;
    margin: 0;
    opacity: 0.3;

    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.photo-details:hover{
    opacity: 1;
}

.photo-details .item-detail{
    text-align: left;
    list-style: none;
    margin-bottom: 0.4em;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
}

.photo-details .album{
    font-size: 14px;
    font-style: italic;
}
.photo-details .date{
    font-size: 14px;
    font-style: italic;
}

.current-frame .large-photo{
    z-index:5;
}
.current-frame .box-blur{
    z-index:1;
}
.next-frame .box-blur, .prev-frame .box-blur{
    z-index: 0;
}


#highlight .details{
    height:100%;
    width: 20%;
    background: #000;
    opacity:0.5;
    z-index: 3;
    position: absolute;
    display: block;
    right: -30%;
}

#highlight .details h3{
    margin: 50px 15px 15px 15px;
    font-color: #fff;
    opacity: .5;
    font-size: 2em;
    text-transform: lowercase;
}

#highlight .details label{
    display: block;
    font-size: .8em;
    color: #ddd;
    text-transform: lowercase;
}

#highlight .details .value{
    display: block;
    font-size: 1em;
    color: #fff;
}

#highlight .details ul{
    margin: 15px;
    padding: 0px;
}

#highlight .details li{
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-bottom: 10px;
}

#highlight .btn-prev, #highlight .btn-next {
    position: absolute;
    z-index: 15;
    height: 100px;
    background: #000;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 15pt;
    opacity: 0.7;
}

#highlight .btn-prev {
    top: 0;
    left: 0;
}

#highlight .btn-next {
    top: 0;
    right: 0;
}