<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<title>Retrato - Login</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
<script type="text/javascript" src="{% static 'js/lib/jquery.js' %}"></script>

<script>

  {% if REDIRECT_TO %}
  var REDIRECT_TO = '{{ REDIRECT_TO }}';
  {% endif %}

  function facebookCheckLoginState() {
    $("#loading").show();
    $("#facebookLoginBtn").hide();
    FB.getLoginStatus(function(response) {
        if (response.status === FB.status.CONNECTED){
            authenticateUser(response.authResponse);
        } else {
            $("#loading").hide();
            $("#facebookLoginBtn").show();
        }
    });
  }

  function loginFailed(){
      $("#loading").hide();
      alert("Login falhou");
  }

  function loginFailed_notAuthorizedPeriodExpired(){
      $("#status")
        .show()
        .html("Período de utilização expirou. Aguarde até que o administrador autorize seu acesso.");
      $("#loading").hide();
  }

  function authenticateUser(auth){
    data = {
        userID: auth.userID,
        accessToken: auth.accessToken,
        expires: auth.expiresIn
    }
    var posting = $.post('/login', data)
    posting.done(function(result){
       if (!result.success){
           if (result.status='NOT_AUTHORIZED_PERIOD_EXPIRED'){
               return loginFailed_notAuthorizedPeriodExpired();
           } else {
              return loginFailed();
           }
       }
       if (REDIRECT_TO != undefined){
           location.href=REDIRECT_TO
       }
    })
    posting.fail(function(result){
        loginFailed();
    })
  }

  window.fbAsyncInit = function() {
      FB.init({
        appId      : '{{ FACEBOOK_ID }}',
        xfbml      : true,
        version    : 'v2.2'
      });
      
      FB.status = {
         CONNECTED: 'connected',
         NOT_AUTHORIZED: 'not_authorized',
         UNKNOWN: 'unknown'
      }
      facebookCheckLoginState();
  };

  (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "http://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

</script>
</head>

<body>
<div id="login-panel">
    <div id="facebookLoginBtn" class="fb-login-button"
        onlogin="facebookCheckLoginState();" 
        data-size="large" 
        data-show-faces="false" 
        data-auto-logout-link="false"></div>
    <div id="loading">loading...</div>
    <div id="status"></div>
</div>
</body>
</html>